.Header {
    position: fixed;
    top: 0;
    display: flex;
    flex:1 1 auto;
    width: 100%;
    height: 80px;
    padding-left: 32px;
    padding-right: 32px;
    place-items: center;
    justify-content: space-around;
    background-color : rgba(255, 183, 123, 0.25);
    backdrop-filter: blur(10px);
}

.Header-Menu {
    display: inherit;
    width: 20%;
    min-width: 200px;
}
.Header-link {
    position: relative;
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 80px;
    margin: 0px 20px -1px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    color: black;
}
.Header-Button:disabled {
    color: rgba(255, 255, 255, 0.3);
    cursor: default;
    background: rgb(0, 0, 0);
}
.Header-Button {
    cursor: pointer;
    position: relative;
    color: rgb(255, 255, 255);
    border: 0px;
    outline: 0px;
    width: 146px;
    height: 40px;
    transition: opacity 0.3s ease 0s, color 0.3s ease 0s;
    background: var(--grayscale-05);
    border-radius: 8px;
}