.dropdown {
  /* 보더를 통해서 틀을 봐주는게 좋다 ! */
  /* border: 1px solid #000; */
  /* width: 200px; */
  display: inline-block;
}
.dropdown_btn {
  width: 200px;
  /* 패딩으로 크기 늘려주기 */
  padding : 10px;
  font-size: 18px;
  background-color: yellowgreen;
  color : #fff;
  border: none;
  cursor: pointer;
}

.dropdown_submenu{
  /* border: 1px solid #000; */
  width:200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
  display: none;
}

.dropdown_submenu a {
  display: block;
  padding: 7px;
  text-align: center;
}

.dropdown_submenu a:hover{
  background-color: #eee;
}

.dropdown:hover .dropdown_submenu {
  display: block;
}